.navbar-item {}

.navbar-item:hover {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(255, 180, 17);
    border-radius: 10px;

}

.navbar-item-dropdown {}

.navbar-item-dropdown:hover {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(255, 180, 17);
    border-radius: 10px;
}